# Test Results

- The test results are as follows with QPS as an average value for reference


|  Test Specification  |Specification Code|Multipart Quantity|QPS Average Reference Value |
|:---|:--|:---|:---|
| 1G Standard Version |redis.m1.micro.basic| 1 |8w |
| 4G Standard Version |redis.m1.small.basic| 1 |8w |
| 8G Standard Version| redis.m1.large.basic | 1 |8w |
| 16G Cluster Version| redis.c1.small.basic| 8 |40w |
| 32G Cluster Version| redis.c1.small.basic|  8 |40w |
| 64G Cluster Version|  redis.c1.large.basic | 8 |40w |
| 128G Cluster Version|  redis.c1.xlarge.basic | 16 |80w |
| 512G Cluster Version|  redis.c1.4xlarge.basic   | 32 |160w |

