# Process.Overview
[The JD Cloud page](https://realname.jdcloud.com/account/verify) supports that the enterprise user completes the enterprise real-name verification; meanwhile, if the enterprise real-name verification is completed for your account at [JD Finance Enterprise Station](https://biz.jd.com), you can also complete the one-click synchronization of verification status on the JD Cloud page.

The enterprise real-name verification process is divided into the following five steps:

 1. Select the enterprise type and business license type
 2. Upload the enterprise certificate and fill in the enterprise information
 3 Check and submit the enterprise information
 4. Complete the remittance verification of corporate account after the certificate information is approved
 5. Pass the enterprise real-name verification

Note: According to the opinions on the registration system reform of the State Council and the relevant requirements for all provinces’ and cities’ accelerating the reform of the "five certificates in one, one unified social credit code for one business license" registration system, various market subjects need to complete the renewal of the "unified social credit code" business license before December 31, 2017. From January 1, 2018, any unrenewed licenses will lose effect, and the operation of their market subjects will be regarded as unlicensed. So, JD Cloud currently only supports that the user completes enterprise real-name verification with the business license loaded with unified social credit code.


# Process Diagram
Enter the [Real-name Verification](https://realname.jdcloud.com/account/verify) page to choose enterprise verification.

 ## 1. Select the enterprise type and business license type

 - In case of a limited liability company, please select the enterprise merchant; only the unified social credit code is supported for the business license type;
 - In case of an individual industrial and commercial unit, please select the individual industrial and commercial unit; the business license type is the unified social credit code or common business license as the case may be.
 
![](../../../image/User/newrealname/1.%E9%80%89%E6%8B%A9%E8%AE%A4%E8%AF%81%E7%B1%BB%E5%9E%8B.png)

## 2. Upload the enterprise certificate and fill in the enterprise information
### 2.1 Business License Information
-  When a business license is uploaded, the photos must be clear and complete; be free of marks such as alterations or watermarks;
-  All photos or scanned copies to be uploaded of the original documents do not need to be stamped with the official seal of the enterprise, but the copies to be uploaded must be stamped with the red official seal of the enterprise;
- The system will automatically identify the enterprise name and unified social credit code after the business license is uploaded. Please check the identification result.

![](../../../image/User/newrealname/3.%E5%A1%AB%E5%86%99%E8%90%A5%E4%B8%9A%E6%89%A7%E7%85%A7%E4%BF%A1%E6%81%AF.png)

### 2.2 Corporate Account Information of Enterprise Bank

![](../../../image/User/newrealname/4.%E5%A1%AB%E5%86%99%E5%AF%B9%E5%85%AC%E8%B4%A6%E6%88%B7%E4%BF%A1%E6%81%AF.png)

Please enter your bank of deposit, select the province, city and subbranch name of the opening subbranch on the list, and enter the bank card number of the corporate account.
Note: Please contact the JD Cloud Customer Service 400-615-1212 for treatment, if your bank of deposit or subbranch isn’t in the optional list of the page.

### 2.3 Legal Person Information
The legal person’s certificate type can be ID card, passport, the pass for compatriots from Hong Kong and Macao going to and from mainland China and the pass for compatriots from Taiwan going to and from the Chinese mainland.

![](../../../image/User/newrealname/5.%E5%A1%AB%E5%86%99%E6%B3%95%E4%BA%BA%E4%BF%A1%E6%81%AF.png)

### 2.4 Authorized Person Information
The authorized person’s certificate type can only be identity card; you can tick it on the page, if the authorized person is the legal person (the certificate type is identity card) 
- [ ] Authorized Person and Legal Person

![](../../../image/User/newrealname/6.%E5%A1%AB%E5%86%99%E8%A2%AB%E6%8E%88%E6%9D%83%E4%BA%BA.png)

### 2.5 Letter of Authorization
Please download the letter of authorization, affix a seal on it, take a photo of it or scan it, and upload it, if the authorized person is different from the legal person.

![](../../../image/User/newrealname/7.%E6%8E%88%E6%9D%83%E5%A7%94%E6%89%98%E4%B9%A6.png)

## 3. Check the enterprise information and submit it for review
Preview the information about enterprise real-name verification, and send notification to the mobile and email to fill in. The passing of real-name verification data review and successful payment will be notified to your mobile phone and mailbox by SMS or email.

![](../../../image/User/newrealname/8.%E7%A1%AE%E8%AE%A4%E5%AE%A1%E6%A0%B8%E7%BB%93%E6%9E%9C.png)

After they are successfully submitted for review, the system will complete such data review within one working day.

![](../../../image/User/newrealname/9.%E5%AE%A1%E6%A0%B8%E4%B8%AD.png)

## 4. Data review is passed and the payment is verified

The system will transfer a small amount of money to the corporate account of your enterprise bank, after the enterprise data pass the review. Please contact your corporate account administrator, obtain it through the bank counter, online banking, mobile banking, etc., and log in to the JD Cloud to enter the payment amount to complete the verification process. According to the fund receiving of different banks, the transfer time may be 1 minute to 3 working days.

![](../../../image/User/newrealname/11%E5%9B%9E%E5%A1%AB%E6%89%93%E6%AC%BE.png)

Note: The real-name application will be rejected when the data review is unapproved. In this case, please view the rejection cause and carry out modification.

![](../../../image/User/newrealname/10%E9%A9%B3%E5%9B%9E.png)

## 5. The payment amount is correct, and the enterprise real-name is passed

![](../../../image/User/newrealname/14%E8%AE%A4%E8%AF%81%E9%80%9A%E8%BF%87.png)

Note: If the amount of the payment to corporate account fails for 5 consecutive times, and the real-name verification fails, the verification process will be frozen for 1 hour.

![](../../../image/User/newrealname/12%E5%86%BB%E7%BB%93.png)

