# Enterprise Real-name Verification Guideline

If you are an enterprise user, you can submit a real-name verification application directly in JD Cloud; and you can also log in JD Cloud > Account Management > Enterprise Real-name Verification > Synchronize Now after completion of real-name verification in JD Finance. For more details, please visit https://biz.jd.com > Business Center > JD Online Store User Login > Real-name Verification: Verify Now.

Enterprise real-name verification process: 1. Select the enterprise type  > 2. Select the business license certificate type  > 3. Submit the certificate information > 4. After successful submission, the enterprise verification information is to be reviewed > 5. Pass the information review > 6. Make successful payment to corporate account > 7. Pass the verification of the payment to corporate account

 1. Please select the organization type:
 (1) If the type of business license is a limited liability company, please select enterprise merchant;
 (2) If the type of business license is an individual business, please select individual business
 2. Please select the certificate type of business license:
 (1) The license has an 18-digit unified social credit code. Please select the unified social credit code entry for verification;
 (2) The license is a combination of three certificates. Please select the entry for all-in-one certificate (without independent organization code and taxation registration certificate) for verification;
 (3) If the license is a general license, please select the general business license (with an independent organization code and tax registration certificate) entry for verification.
 <div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E9%80%89%E6%8B%A9%E4%BC%81%E4%B8%9A%E7%B1%BB%E5%9E%8B.png"></div>

 3. Submit certificate information

    - Fill in business license information
        - All uploaded photos must be clear and complete; be free of marks such as alterations or watermarks;
         - All photos or scanned copies of the original documents need not be stamped with the official seal of the enterprise, but the copies must be stamped with the red official seal of the enterprise;
         <div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E8%90%A5%E4%B8%9A%E6%89%A7%E7%85%A7%E4%BF%A1%E6%81%AF.png"></div>

    - Fill in the information about corporate account
         <div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E5%AF%B9%E5%85%AC%E8%B4%A6%E6%88%B7%E4%BF%A1%E6%81%AF.png"></div>    
    - Fill in the information about legal person certificates
         <div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E6%B3%95%E4%BA%BA%E8%AF%81%E4%BB%B6%E4%BF%A1%E6%81%AF.png"></div>    
    
    - Fill in the information about certificates of the authorized person
        <div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E8%A2%AB%E6%8E%88%E6%9D%83%E4%BA%BA%E8%AF%81%E4%BB%B6%E4%BF%A1%E6%81%AF.png"></div>    
    
    - Fill in the power of attorney according to the template for power of attorney.
         <div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E6%8E%88%E6%9D%83%E5%A7%94%E6%89%98%E4%B9%A6%EF%BC%8C%E8%AF%B7%E6%8C%89%E7%85%A7%E6%8E%88%E6%9D%83%E4%B9%A6%E6%A8%A1%E6%9D%BF%E5%A1%AB%E5%86%99.png"></div>
    
    - Preview the information about enterprise real-name verification, and send notification to the mobile and email to fill in. The passing of real-name verification data review and successful payment will be notified to your mobile phone and email by SMS or email.
          <div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E6%8E%88%E6%9D%83%E5%A7%94%E6%89%98%E4%B9%A6%EF%BC%8C%E8%AF%B7%E6%8C%89%E7%85%A7%E6%8E%88%E6%9D%83%E4%B9%A6%E6%A8%A1%E6%9D%BF%E5%A1%AB%E5%86%992.png"></div>
         <div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E5%A1%AB%E5%86%99%E6%8E%88%E6%9D%83%E5%A7%94%E6%89%98%E4%B9%A6%EF%BC%8C%E8%AF%B7%E6%8C%89%E7%85%A7%E6%8E%88%E6%9D%83%E4%B9%A6%E6%A8%A1%E6%9D%BF%E5%A1%AB%E5%86%993.png"></div>   

 4. The submission is successful and the enterprise information is to be reviewed
 <div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E6%8F%90%E4%BA%A4%E6%88%90%E5%8A%9F%EF%BC%8C%E4%BC%81%E4%B8%9A%E4%BF%A1%E6%81%AF%E5%BE%85%E5%AE%A1%E6%A0%B8.png"></div>   
 
 5. Information review is passed and the payment is to be made
 <div align=center><img src=" https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E8%B5%84%E6%96%99%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87%EF%BC%8C%E5%BE%85%E6%89%93%E6%AC%BE.png"></div>   

 6. Payment to corporate account is successful and waiting for verification
<div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E5%AF%B9%E5%85%AC%E6%89%93%E6%AC%BE%E6%88%90%E5%8A%9F%EF%BC%8C%E5%BE%85%E9%AA%8C%E8%AF%81.png"></div>   
 

 7. The payment to corporate account is verified.
<div align=center><img src="https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Business%20account%20verification/%E5%AF%B9%E5%85%AC%E6%89%93%E6%AC%BE%E9%AA%8C%E8%AF%81%E9%80%9A%E8%BF%87%E3%80%82.png"></div>   

Note: If the verification of the payment to corporate account amount fails for 5 consecutive times, and the real-name verification fails, the account will be frozen for 24 hours.
