# Personal Real-name Verification Guideline
You can complete personal real-name verification through JD Finance. For more details, please visit My JD (http://home.jd.com) > Account Setting > Account Security > Real-Name Verification > Verify Now.

You can also select **Personal Real-name Verification** in JD Cloud Account Management > Real-name Verification to perform **Verify Now**.
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81-%E7%AB%8B%E5%8D%B3%E8%AE%A4%E8%AF%81.png)

## New User Verification

If you have never performed the personal real-name verification on the website of JD Group, please select the newly verified user. When filling in the bank card number, please select the deposit card or credit card of the supported bank. For supported banks, please check **Supported Banks**.
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81-%E6%96%B0%E7%94%A8%E6%88%B7%E8%AE%A4%E8%AF%81.png)


If you receive the following notification during real-name verification, which indicates that you may have other accounts in JD Group and have performed real-name verification with the same identity certificate.
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81-%E5%AE%9E%E5%90%8D%E8%BA%AB%E4%BB%BD%E5%B7%B2%E8%A2%AB%E5%8D%A0%E7%94%A8.png)

In such case,

 1. If you have never used this certificate to perform personal real-name verification for any JD Group account, please click **Get Back by Appealing** and submit an appeal application;
    
 2. If your JD Cloud account is an enterprise account, please perform enterprise real-name verification to avoid possible account ownership disputes; and

 3. If you confirm that you have performed personal real-name verification on any website of JD Group, and you remember information on the verified account, please select **Associate Verified Account**.

## Associate Verified Account
When associate verified account, you need to provide the JD account user name that has undergone personal real-name verification with your identity document. You can log in to My JD (http://home.jd.com) with your verified account to view it on the personal information page.
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81-%E8%AE%A4%E8%AF%81%E8%B4%A6%E5%8F%B7%E7%BB%91%E5%AE%9A1.png)


Fill in the user name verified with real name into the verified JD account and click **Bind Now**:
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81-%E8%AE%A4%E8%AF%81%E8%B4%A6%E5%8F%B7%E7%BB%91%E5%AE%9A2.png)

To ensure that you are the owner of the verified account, the mobile phone number of the verified account needs to be verified. After the verification, the personal real-name verification is completed. Your personal real name information will be the same as the verified account:
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81-%E8%AE%A4%E8%AF%81%E8%B4%A6%E5%8F%B7%E7%BB%91%E5%AE%9A3.png)


**Exception Handling**
 - If the following notification pops up when you associate verified account, it indicates that your verified account is not currently associated with a mobile phone number in My JD.
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81-%E8%AE%A4%E8%AF%81%E8%B4%A6%E5%8F%B7%E7%BB%91%E5%AE%9A-%E5%BC%82%E5%B8%B8%E6%83%85%E5%86%B51.png)


You need to first set a mobile phone number for this verified account in My JD:
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81-%E8%AE%A4%E8%AF%81%E8%B4%A6%E5%8F%B7%E7%BB%91%E5%AE%9A-%E5%BC%82%E5%B8%B8%E6%83%85%E5%86%B52.png)


 - If the following notification pops up when you associate verified account, it indicates that the account with real-name verification you are trying to associate has not performed real-name verification. Please retry after reconfirming the information about the verified account by using your identity.
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81-%E8%AE%A4%E8%AF%81%E8%B4%A6%E5%8F%B7%E7%BB%91%E5%AE%9A-%E5%BC%82%E5%B8%B8%E6%83%85%E5%86%B53.png)


 - When you associate verified account, the verification fails and the following notification pops up, it indicates that you have already performed personal real-name verification for another account (that is the account shown in brackets) in JD Cloud. The personal identity information of each person can only verify one account in JD Cloud, and no repeated verification or associate is allowed.
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81-%E8%AE%A4%E8%AF%81%E8%B4%A6%E5%8F%B7%E7%BB%91%E5%AE%9A-%E5%BC%82%E5%B8%B8%E6%83%85%E5%86%B54.png)

If it is not your own operation, please contact JD Cloud Customer Service at 4006151212 or open ticket for consultation, and you need to provide the ownership certificate of your account with real-name verification at the same time.

## Upgrade Personal Verification as Enterprise Verification
After the personal verification is passed, you can upgrade as an enterprise user on the following page.
![](../../../image/User/Real%20name%20verification/%E4%B8%AA%E4%BA%BA%E8%AE%A4%E8%AF%81%E5%8D%87%E7%BA%A7%E4%BC%81%E4%B8%9A%E8%AE%A4%E8%AF%81.jpg)

