# Personal real-name verification
[JD Cloud Page](https://realname.jdcloud.com/account/verify) supports that the user completes the personal real-name verification by filling in information; meanwhile, if your account is the account of JD Mall/JD Finance, and you have completed the personal real-name verification in JD Mall/JD Finance, you can also complete the one-click synchronization of verification status and verification information on JD Cloud Page.

Currently, the JD Cloud page provides two personal real-name verification methods:

1. Users use their own mobile phone numbers associated with their personal real-name ID cards to receive verification codes to complete the real-name verification

2. Users use JD Cloud APP for face scanning to complete the real-name verification.


## FAQ

1. How many JD Cloud account can be verified at most for one ID card information?

   One ID card information only can verify one JD Cloud account at most.

2. During the real-name mobile phone verification, why did it notify me that "My mobile phone number is inconsistent with my identity information"?

   Please use your real name mobile phone number applied for with your ID card.
