# Student Verification Process
## I. Users who have already passed JD Campus Baitiao student verification

 1. Click **Complete Student Verification** on the page of Yueyun Plan to access JD Cloud Console-User Center;
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E5%AE%8C%E6%88%90%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81.jpg)
 2. Click **Authorize Now** in User Center-Student Verification to authorize the student verification information; and
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81-%E7%AB%8B%E5%8D%B3%E6%8E%88%E6%9D%83.jpg)
 3. After the authorization is successful, you will be prompted that you have passed the student verification. Click **Special Campus Activity Area** to return to the page of Yueyun Plan activities to purchase the discount products.
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%A0%A1%E5%9B%AD%E6%B4%BB%E5%8A%A8%E4%B8%93%E5%8C%BA.jpg)

## II. Users who have not registered for JD Campus Baitiao student verification

 1. Click **Complete Student Verification** on the page of Yueyun Plan to access JD Cloud Console-User Center;
    <div align=center><img src=https://github.com/jdcloudcom/cn/blob/edit/image/User/Real%20name%20verification/Student%20account%20verification/%E6%9C%AA%E6%B3%A8%E5%86%8C%E8%BF%87%E4%BA%AC%E4%B8%9C%E6%A0%A1%E5%9B%AD%E7%99%BD%E6%9D%A1%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81%E7%9A%84%E7%94%A8%E6%88%B7-%E5%AE%8C%E6%88%90%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81.jpg/></div>
 2. You will be prompted that you are not a Campus Baitiao user after clicking **Authorize Now** in User Center-Student Verification;
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%9C%AA%E6%B3%A8%E5%86%8C%E8%BF%87%E4%BA%AC%E4%B8%9C%E6%A0%A1%E5%9B%AD%E7%99%BD%E6%9D%A1%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81%E7%9A%84%E7%94%A8%E6%88%B7-%E7%AB%8B%E5%8D%B3%E6%8E%88%E6%9D%83.jpg)
 3. Click **Verify Now** according to the notification popup and go to the JD Campus Baitiao activation page;
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%9C%AA%E6%B3%A8%E5%86%8C%E8%BF%87%E4%BA%AC%E4%B8%9C%E6%A0%A1%E5%9B%AD%E7%99%BD%E6%9D%A1%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81%E7%9A%84%E7%94%A8%E6%88%B7-%E7%AB%8B%E5%8D%B3%E8%AE%A4%E8%AF%81.jpg)
 
 4. Fill in the personal information according to the content of the page, and submit the application:
    
    (1) Users who have not opened any (normal edition/campus edition) JD Baitiao: 
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%8F%90%E4%BA%A4%E7%94%B3%E8%AF%B71.jpg)
    (2) Users who have opened the normal JD Baitiao but have not opened the Campus Baitiao:
![](../../../edit/image/User/Real%20name%20verification/Student%20account%20verification/%E6%8F%90%E4%BA%A4%E7%94%B3%E8%AF%B72.jpg)
        
 5. It is prompted that you has passed the student verification; and
 6. Return to the page of Yueyun Plan activities to purchase the discount products.
