# Student Verification Process
## I. Users who have already passed JD Campus Baitiao student verification
If your student verification has been approved by the Campus Baitiao of JD, you can authorize JD Cloud to collect your student verification information.
1. Click ***Authorize Now* in Account Management-Student Verification to authorize student verification information;
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81-%E7%AB%8B%E5%8D%B3%E6%8E%88%E6%9D%83.jpg)

2. When the authorization is done, the notification that you have passed the student verification of JD Cloud will be given to you.
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%A0%A1%E5%9B%AD%E6%B4%BB%E5%8A%A8%E4%B8%93%E5%8C%BA.jpg)

## II. Users who have not registered for JD Campus Baitiao student verification
If you haven’t started the student verification in the Campus Baitiao of JD, please try the following operation for your student verification.
1. Click **Authorize Now** in Account Management-Student Verification and the notification about whether you are the user of Campus Baitiao or not will be given to you;
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%9C%AA%E6%B3%A8%E5%86%8C%E8%BF%87%E4%BA%AC%E4%B8%9C%E6%A0%A1%E5%9B%AD%E7%99%BD%E6%9D%A1%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81%E7%9A%84%E7%94%A8%E6%88%B7-%E7%AB%8B%E5%8D%B3%E6%8E%88%E6%9D%83.jpg)

2. Click **Verify Now** according to the notification popup and go to the JD Campus Baitiao activation page;
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%9C%AA%E6%B3%A8%E5%86%8C%E8%BF%87%E4%BA%AC%E4%B8%9C%E6%A0%A1%E5%9B%AD%E7%99%BD%E6%9D%A1%E5%AD%A6%E7%94%9F%E8%AE%A4%E8%AF%81%E7%9A%84%E7%94%A8%E6%88%B7-%E7%AB%8B%E5%8D%B3%E8%AE%A4%E8%AF%81.jpg)
 
3. Fill in the personal information according to the content of the page, and submit the application:
(1) Users who have not opened any (normal edition/campus edition) JD Baitiao: 
![](../../../image/User/Real%20name%20verification/Student%20account%20verification/%E6%8F%90%E4%BA%A4%E7%94%B3%E8%AF%B71.jpg)
(2) Users who have opened the normal JD Baitiao but have not opened the Campus Baitiao:
![](https://github.com/jdcloudcom/cn/blob/20190319-limeijuan/image/User/Real%20name%20verification/Student%20account%20verification/%E6%8F%90%E4%BA%A4%E7%94%B3%E8%AF%B72.jpg)
        
4. It is prompted that you has passed the student verification; and
